.search{
    border: none;
    padding: 15px;
    width: 200px;
    border: 1px solid #120136;
    margin: 15px;
    font-family: 'Press Start 2P', cursive;
}

.search::placeholder{
    font-size: 10px;
}