@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


body{
  background-color: #dbf6e9;
  color: #162447;
}

.App{
  text-align: center;
  min-height: 100vh;
  text-align: center;
  overflow-x: hidden;
  display: flex;
  flex-direction: hidden;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


h1{
  font-size: 2.5rem;
  font-family: 'Press Start 2P', cursive;
}

.text-capitalise{
  text-transform: capitalize;
}